<div class="mt-2 p-2 bg-secondary text-white rounded">
    <!-- Header -->
    <h2 class="bg-dark text-white p-3">Attribute Directive <small class="text-muted">[ngClass], [ngStyle]</small></h2>
      </div>
    <!-- Colored Divs -->



    <div class="row pt-3">
        <div class="col-3">
            <div *ngIf="IsDivVisiable" class="bg-danger p-3 text-center"  >
            <h4>Div-1</h4>
            </div>
        </div>
    
        <div class="col-3">
            <div *ngIf="IsDiv2visible" class="bg-success p-3 text-center">
            <h4>Div-2</h4>
            </div>
        </div>
        <div class="col-3">
            <div *ngIf="num1==num2" class="bg-secondary p-3 text-center">
            <h4>Div-3</h4>
            </div>
        </div>
        <div class="col-3">
            <div *ngIf="selectedState == 'Mitru'" class="bg-primary p-3 text-center">
            <h4>Div-4</h4>
            </div>
        </div>

    
    <div class="row pt-3">
        <div class="col-3 text-center">
            <button  class="btn btn-success" (click)="hideDiv1()">hide</button>
            <button  class="btn btn-danger" (click)="showDiv1()">show</button>

        </div>
        <div  class="col-3 text-center">
            <div class="btn btn-success" (click)="toggleDIV2()">Toggle</div>
        </div>
        <div class="col-3 text-center">
         <div style="display: flex;align-items: center">
            <input type="text" [(ngModel)]="num1" placeholder="num1" class="width-50">
            <input type="text" [(ngModel)]="num2" placeholder="num2" class="width-50">
         </div>
            
        </div>
        <div class="col-3 text-center">
            <div style="display: flex;align-items: center">
                <input [(ngModel)]="IsActive" type="checkbox" class="width-50">
                <select [(ngModel)]="selectedState" >
                    <option value="">Select city</option>
                    <option value="vehari">vehari</option>
                    <option value="thingi">thingi</option>
                    <option value="Mitru">Mitru</option>
                </select>
            </div>

            
        </div>
    </div>
    
    <!-- table -->

    <div class="row">
        <div class="col-5">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Name</th>
                        <th>City</th>
                        <th>Status</th>

                        <th>gender</th>
                        <th>mark</th>
                    </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let student of studentList;let srNO = index">
                            <td>{{srNO +1}}</td>
                            <td>{{student.name}}</td>
                            <td>{{student.city}}</td>
                            <td [ngStyle]="{'background-color': student.isActive? 'yellow':'red'}">
                                <span *ngIf="student.isActive">Active</span>
                                <span *ngIf="!student.isActive">De-Active</span>
                                
                            </td>
                            <td>{{student.gender}}</td>
                          
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" [ngStyle]="{'width':student.mark + '%'}"></div>
                                    {{student.mark}}
                                </div>
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
